[user]
    name = [Assassin]
    username = ShyAssassin
    signingkey = 01C9D37CC333ADDC
    email = ShyAssassin@assassin.dev
[core]
    eol = lf
    autocrlf = false
    editor = code --wait
    excludesFile = ~/.gitignore
    attributesfile = ~/.gitattributes
[color]
    ui = auto
    status = auto
[fetch]
    prune = true
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
