Config(
    // Position/size fields use an enum for the value, it can be either:
    // Absolute(n): The absolute value in pixels
    // Fraction(n): A fraction of the width or height of the full screen (depends on exclusive zones and the settings related to them) window respectively

    x: Fraction(0.5),
    y: Fraction(0.2),

    width: Absolute(600),
    height: Absolute(0),

    hide_icons: false,
    hide_plugin_info: true,

    // ignore exclusive zones, e.g. Waybar
    ignore_exclusive_zones: true,

    // Layer shell layer: Background, Bottom, Top, Overlay
    layer: Overlay,

    // Close window when a click outside the main box is received
    close_on_click: true,

    // Show search results immediately when Anyrun starts
    show_results_immediately: false,

    // Limit amount of entries shown in total
    max_entries: Some(5),

    plugins: [
        "librink.so",
        "libshell.so",
        "libsymbols.so",
        "libapplications.so",
        "libvscode_recents.so"
    ],
)
