* {
    all: unset;
    font-size: 1.2rem;
}

#match,
#plugin,
#window,

#main {
    color: white;
    background: rgba(0, 0, 0, 0.035);
}

box#main {
    color: white;
    padding: 0.7rem;
    margin-top: 15px;
    border-width: 1px;
    border-radius: 22px;
    border-style: double;
    border-color: rgba(230, 11, 131, 0.8);
    background-color: rgba(16, 16, 16, 0.95);
    box-shadow: 0 0 25px rgba(230, 11, 131, 0.15);
}

#entry {
    margin: .3rem;
    font-size: 26px;
    font-weight: 500;
    border-radius: 8px;
    caret-color: white;
    padding: 0.6rem 1.0rem;
}

#match {
    padding: .3rem;
    margin-bottom: 0;
    margin-top: .01rem;
    border-radius: 8px;
}

#match.activatable {
    margin-top: .01rem;
    border-radius: 8px;
    padding: .3rem .9rem;
}

#match.activatable:first-child {
    margin-top: 9px;
    margin-bottom: 0.3rem;
}

#match.activatable:last-child {
    margin-bottom: 1px;
}

#match:selected {
    border-radius: 8px;
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

#match:hover {
    border-radius: 8px;
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

list > #plugin {
    margin: 0.3rem;
    font-weight: 400;
    padding-top: 4px;
    padding-left: 3px;
    border-top: 1px solid rgba(255,255,255,.15);
}

list > #plugin:first-child {
    margin-top: .3rem;
}

list > #plugin:last-child {
    margin-bottom: .3rem;
}
